article,aside,details,figcaption,figure,footer,header,menu,hgroup,nav,section,a{display:block}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,label,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,span{margin:0;padding:0}
html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a,i,img,button,input,textarea{-webkit-tap-highlight-color:rgba(255,255,255,0);}
fieldset,img{border:0}
img{display:block}
table{border-collapse:collapse;border-spacing:0}
h1,h2,h3,h4,h5,h6,p,input,button,select{font-weight:normal}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
html{height: 100%;}
body{font-family:Arial "Microsoft YaHei";background-color:#f8f8f8;height: 100%;}
ol,ul{list-style:none;}
a{text-decoration:none;color:#fff}
input:focus{border:0;outline:medium}
.clearfix:after {clear:both;font-size:0;height:0;display:block;visibility:hidden;content:'';line-height:0}
.full-height{min-height: 100%;overflow-y: auto;}

/*base*/
.marginauto{margin:0 auto;}
.mt40{margin-top: 40px}
.mt70{margin-top: 70px}
.mt20{margin-top: 20px}
.mt30{margin-top: 30px}
.mr10{margin-right: 10px}
.c_red{color: #e24b4b}
.pr{position: relative;}
.pa{position: absolute;}
.f12{font-size: 12px}
.tc{text-align: center;}
.f11{font-size: 11px}
.p16{padding: 1rem}
/* common */
header{width: 100%; height: 3.375rem;line-height: 3.675rem;background-color: #e24b4b;color: #fff;font-size: 1.125rem;position: relative;}
header .header-title{max-width: 5.5rem;margin: 0 auto;text-indent: 1.625rem; background: url(../img/v4_app_1.png) 0 1.25rem/1.5625rem 21.25rem no-repeat;}
header .beader-close-btn{display: block;width: .9375rem;height: .9375rem;background: url(../img/v4_app_1.png) 0 -4.0625rem/1.5625rem 21.25rem no-repeat;position:absolute;right: .9375rem;bottom: .9375rem;}
.button{padding: 0.8125rem;color: #fff;font-size: 0.875rem;text-align: center;background-color: #e24b4b;width: 50%;border-radius: 0.4rem}
.b_gray{background-color: #979797}
.box{display: -webkit-box;display:box;}
.box-center{box-align:center; -webkit-box-align:center;box-pack:center; -webkit-box-pack:center;}
.box .flex1{-webkit-box-flex:1; box-flex:1;}
/*遮罩层*/
.coverOuter{position: fixed;background-color: rgba(0,0,0,0.8);width: 100%;height: 100%;z-index: 999;top: 0;left: 0}
.coverOuter .divInner{background-color: #fff}
.coverOuter .divInner .button{border-radius: 0px;margin: 0}
/*login*/
.v4_app_main{width: 100%;box-sizing:border-box;padding: 1.5rem}
.v4_app_main.nopadding{padding: 0rem}
header .beader-close-btn.header-left{left: .9375rem}
header .header-right{position:absolute;right: .9375rem;bottom: .9375rem;font-size: .8125rem;line-height: normal;}
.form .inputouter{ padding: 0 1.5rem;position: relative;}
.form .inputouter.on{background-color: #fff;border-bottom: 1px solid #cecece;border-top: 1px solid #cecece;margin-top: -1px}
.form .inputouter.box{display: -webkit-box;display:box;}
.form .inputouter.box .flex1{width: 5.5rem}
.form .inputouter.box .flex2{border-bottom: 1px solid #cecece;width:calc(100% - 5.5em);margin-top: 1rem;}
.form .inputouter.box .flex2.w100 select{ width:100%;}
.form .inputouter.box .flex2 select{ display: block;width: calc(50% - 0.25rem);float: left;margin-right: 0.5rem}
.form .inputouter.box .flex2 select:last-child{margin-right: 0px}
.form input{border:none;border-bottom: 1px solid #cecece; background:#f8f8f8;width: 100%;height: 30px;box-sizing: border-box;padding-left:5.5rem;}
.form span.placeholder{position: relative;left: 1.25rem;top: 1.5rem;color: #8b8b8b;font-size: 0.8125rem;}
.v4_app_main .login_icon{background: url(../img/v4_regist_icon.png) 0px 0px /30px 400px no-repeat;} 
.form input.login_name{background-position: 0px -88px} 
.form input.login_password{background-position: 0px -288px} 
.form input.login_email{background-position: 0px -65px} 
.form input.login_tel{background-position: 0px -43px} 
.form input.login_vcode{background-position: 0px -115px} 
.form input.login_companytel{background-position:0px -138px} 
.form input.login_location{background-position: 0px -160px} 
.form input.login_company{background-position: 0px -184px} 
.form input.login_companytype{background-position: 0px -210px} 
.form input.login_professional{background-position: 0px -234px} 
.form input.login_job{background-position: 0px -255px} 
.form select {color: #8b8b8b; height: 30px;border: 1px solid #cecece}
.login_icon.valid_right, .login_icon.valid_error{position: absolute;display: block;background-position: 0px 0px;width:20px;height: 20px;right: 20px;top: 1.6rem }
.login_icon.valid_error{background-position: 0px -25px}

.vcodebtn{padding: 0 0.125rem;color: #4f8d51;background-color: #fff;font-size: .8125rem;border:1px solid #cecece;text-align: center;position: absolute;top: 12px;right: 1.5rem;height: 28px;line-height: 28px;}
.login_icon.login_nopass{background-position: 0px -318px;padding: 0.5rem 0 0.125rem 1.5rem;}
.login_icon.login_rewrite{background-position:18px -353px;background-color: #979797; padding-right: 0rem;padding-left: 1.62rem;}

/*subject*/
.search-box{height: 2rem;padding:0 1rem;background-color: #f2f2f2;}
.search-box .search-input{width: 87.7%;height: 1.5rem;line-height: 1.5rem; border:1px solid #bcbcbc;border-radius: 3px;background-color: #fff;margin-top: .1875rem;float: left;text-indent: .625rem;}
.search-box .search-btn{display: block;float: left;width: 1.5rem;height: 1.5rem;border:1px solid #bcbcbc;border-radius: 3px;margin-top: .1875rem;margin-left: .3125rem;background: url(../img/v4_app_1.png) .1875rem -6.3125rem/1.5625rem 21.25rem no-repeat #fff;}
.slide-bar img{display: block;width: 100%;height: 9.375rem;}
.subject-list li{height: 4.375rem;padding: .3125rem .625rem;border-bottom: 1px solid #bcbcbc;}
.subject-list li a{display: block;position: relative;}
.subject-list li img{display: block;position: absolute;width: 4.375rem;height: 4.375rem;left: 0;top: 0;}
.subject-list li .list-right{margin-left: 5.375rem;}
.subject-list li .list-right h2{font-size: .875rem;font-weight: 200;color: #000;width: 100%;text-overflow: ellipsis;word-break: break-all;overflow: hidden;white-space: nowrap;}
.subject-list li .list-right p{font-size: .625rem;color: #707070;}
.subject-list li .list-right .list-bottom i{padding-left: .78rem; font-size: .5rem;color: #5fa070;font-style: normal;background: url(../img/v4_app_1.png) 0 -9.25rem/1.5625rem 21.25rem no-repeat;}
.subject-list li .list-right .list-bottom i.view{background-position: 0 -12.0625rem;}
.subject-list li .list-right .list-bottom i.comment{background-position: 0 -15.0625rem;}
/*count&&detail*/
.midterms-tab ul li{width: 50%;height: 2.5rem;background-color: #dbdbdb;float: left;line-height: 2.5rem;text-align: center;color: #171717;font-size: .875rem;}
.midterms-tab ul li.on{background-color: #fff;}
.count-list li,.detail-list li{background-color: #fff;}
.count-list li h4,.detail-list li h4{padding: 1.09375rem;font-size: .875rem;color: #2f7c43;border-bottom: 1px solid #f3f3f3;}
.count-list li h4 p,.detail-list li h4 p{max-height: 2.3125rem;overflow: hidden;}
.count-list li .count-option{padding: .5rem 0 .75rem 2rem;border-bottom: 1px solid #f3f3f3;position: relative;}
.count-list li .count-option p{font-size: .875rem;color: #171717;}
.count-list li .count-option p.fill{color: #a6a6a6;}
.count-list li .count-option .count-option-bottom{margin-top: .625rem;position: relative;}
.count-list li .count-option .count-option-bottom i{padding-left: .78rem; font-size: .5rem;color: #afafaf;font-style: normal;background: url(../img/v4_app_1.png) 0 -9.25rem/1.5625rem 21.25rem no-repeat;margin-right: .3125rem;}
.count-list li .count-option .count-option-bottom i.dview{background-position: 0 -12.0625rem;}
.count-list li .count-option .count-option-bottom i.dedit{background-position: 0 -17.875rem;}
.count-list li .count-option .count-option-bottom .count-percent{position: absolute;right: 1rem;top: 0;font-size: .6875rem;color: #909090;width: 9.84rem;}
.count-list .percent-bar,.detail-list .percent-bar{position: absolute;right: -4px;top: 3px;width: 7rem;height: .625rem;border:1px solid #bcbcbc;border-radius: 1px;padding: 1px;}
.count-list .percent-bar .progress-bar,.detail-list .percent-bar .progress-bar{background-color: #e24b4b;color: #fff;font-size: .5625rem;height: .5625rem;line-height: .5625rem;text-align: center;}
.count-list li .count-option img{display: block;width: 4.375rem;height: 4.375rem;float: left;}
.count-list li .count-option .count-option-bottom.img{float: left;margin-top: 2.8125rem;margin-left: .8125rem;}
.count-list li .count-option .count-option-bottom .count-percent.img{top: -1.75rem;left: 0}
.detail-list li .detail-option{padding: .78rem 1.31rem .78rem 2.25rem;border-bottom: 1px solid #f3f3f3;position: relative;}
.detail-list li .detail-option.on{background-color: #f6f6f6;}
.detail-list li .detail-option .detail-radio{display: block;width: .875rem;height: .875rem;border:1px solid #d4d4d4;border-radius: 50%;background-color: #f2f2f2;position: absolute;left: 2.25rem;top: 50%;margin-top: -.46875rem;}
.detail-list li .detail-option p{margin-left: 1.8125rem;font-size: .875rem;color: #171717;max-height: 2.3125rem;overflow: hidden;}
.detail-list li .detail-option.on .detail-radio{width:1rem;height:1rem;border:0;background: url(../img/v4_app_2.png) -.25rem 0/1.75rem 3.03125rem no-repeat;}
.detail-list li .detail-option .detail-checkbox{display: block;width: .875rem;height: .875rem;border: 1px solid #d4d4d4;border-radius: 3px;background-color: #f2f2f2;position: absolute;left: 2.25rem;top: 50%;margin-top: -.46875rem;}
.detail-list li .detail-option.on .detail-checkbox{background: url(../img/v4_app_2.png) -.125rem -1.75rem/1.75rem 3.03125rem no-repeat #fff;}
.detail-list li .detail-fill{padding: .6875rem .9rem .6875rem 2.25rem;}
.detail-list li .detail-fill textarea{padding: .5rem;border-color: #f3f3f3;border-radius: 2px;resize: none;font-size: .6875rem;}
.detail-list li .detail-option.img{padding: 0;height: 4.9375rem;line-height: 4.9375rem;}
.detail-list li .detail-option.img img{width: 4.375rem;height: 4.375rem;display: block;position: absolute;left: 4.6875rem;top: .25rem;}
.detail-list li .detail-option.img span{font-size: .75rem;margin-left: 10.9375rem;color: #a6a6a6;}
.detail-list li .detail-option.vote{padding-bottom: 1.55rem;}
.detail-list li .percent-bar{bottom: .46875rem;left: 4.15rem;top: inherit;}
/*questionnaire*/
.questionnaire-list{border-top: 1px solid #ebebeb;}
.questionnaire-list li{border-bottom: 1px solid #ebebeb;background-color: #fff;}
.questionnaire-list li .list-top{margin:.3125rem 0 0 .75rem;}
.questionnaire-list li .list-top i{padding-left: .78rem; font-size: .5rem;color: #5fa070;font-style: normal;background: url(../img/v4_app_1.png) 0 -9.25rem/1.5625rem 21.25rem no-repeat;}
.questionnaire-list li .list-top i.view{background-position: 0 -12.0625rem;}
.questionnaire-list li .list-top i.right{background-position: 0 -20.5625rem;}
.questionnaire-list li h4{font-size: .875rem;margin:.3125rem .75rem 0 .75rem;color: #000;}
.questionnaire-list li .list-bottom{margin:.3125rem .75rem;color: #707070;font-size: .625rem;}
.questionnaire-list li .list-bottom span{margin-right: .7rem;}