/*subject*/
.search-box{height: 2rem;padding:0 1rem;background-color: #f2f2f2;}
.search-box .search-input{width: 87.7%;height: 1.5rem;line-height: 1.5rem; border:1px solid #bcbcbc;border-radius: 3px;background-color: #fff;margin-top: .1875rem;float: left;text-indent: .625rem;}
.search-box .search-btn{display: block;float: left;width: 1.5rem;height: 1.5rem;border:1px solid #bcbcbc;border-radius: 3px;margin-top: .1875rem;margin-left: .3125rem;background: url(../img/v4_app_1.png) .1875rem -6.3125rem/1.5625rem 18.75rem no-repeat #fff;}
.slide-bar img{display: block;width: 100%;height: 9.375rem;}
.subject-list li{height: 4.375rem;padding: .3125rem .625rem;border-bottom: 1px solid #bcbcbc;}
.subject-list li a{display: block;position: relative;}
.subject-list li img{display: block;position: absolute;width: 4.375rem;height: 4.375rem;left: 0;top: 0;}
.subject-list li .list-right{margin-left: 5.375rem;}
.subject-list li .list-right h2{font-size: .875rem;font-weight: 200;color: #000;width: 100%;text-overflow: ellipsis;word-break: break-all;overflow: hidden;white-space: nowrap;}
.subject-list li .list-right p{font-size: .625rem;color: #707070;}
.subject-list li .list-right .list-bottom i{padding-left: .78rem; font-size: .5rem;color: #5fa070;font-style: normal;background: url(../img/v4_app_1.png) 0 -9.25rem/1.5625rem 18.75rem no-repeat;}
.subject-list li .list-right .list-bottom i.view{background-position: 0 -12.0625rem;}
.subject-list li .list-right .list-bottom i.comment{background-position: 0 -15.0625rem;}
.midterms-tab ul li{width: 50%;height: 2.5rem;background-color: #dbdbdb;float: left;line-height: 2.5rem;text-align: center;color: #171717;font-size: .875rem;}
.midterms-tab ul li.on{background-color: #fff;}
.count-list li,.detail-list li{background-color: #fff;}
.count-list li h4,.detail-list li h4{padding: 1.09375rem;font-size: .875rem;color: #2f7c43;border-bottom: 1px solid #f3f3f3;}
.count-list li h4 p,.detail-list li h4 p{max-height: 2.3125rem;overflow: hidden;}
.count-list li .count-option{padding: .5rem 0 .75rem 2rem;border-bottom: 1px solid #f3f3f3;position: relative;}
.count-list li .count-option p{font-size: .875rem;color: #171717;}
.count-list li .count-option p.fill{color: #a6a6a6;}
.count-list li .count-option .count-option-bottom{margin-top: .625rem;position: relative;}
.count-list li .count-option .count-option-bottom i{padding-left: .78rem; font-size: .5rem;color: #afafaf;font-style: normal;background: url(../img/v4_app_1.png) 0 -9.25rem/1.5625rem 18.75rem no-repeat;margin-right: .3125rem;}
.count-list li .count-option .count-option-bottom i.dview{background-position: 0 -12.0625rem;}
.count-list li .count-option .count-option-bottom i.dedit{background-position: 0 -17.875rem;}
.count-list li .count-option .count-option-bottom .count-percent{position: absolute;right: 1rem;top: 0;font-size: .6875rem;color: #909090;width: 9.84rem;}
.count-list .percent-bar{position: absolute;right: -4px;top: 3px;width: 7rem;height: .625rem;border:1px solid #bcbcbc;border-radius: 1px;padding: 1px;}
.count-list .percent-bar .progress-bar{background-color: #e24b4b;color: #fff;font-size: .5625rem;height: .5625rem;line-height: .5625rem;text-align: center;}
.count-list li .count-option img{display: block;width: 4.375rem;height: 4.375rem;float: left;}
.count-list li .count-option .count-option-bottom.img{float: left;margin-top: 2.8125rem;margin-left: .8125rem;}
.count-list li .count-option .count-option-bottom .count-percent.img{top: -1.75rem;left: 0}
.detail-list li .detail-option{padding: .78rem 1.31rem .78rem 2.25rem;border-bottom: 1px solid #f3f3f3;position: relative;}
.detail-list li .detail-option.on{background-color: #f6f6f6;}
.detail-list li .detail-option .detail-radio{display: block;width: .875rem;height: .875rem;border:1px solid #d4d4d4;border-radius: 50%;background-color: #f2f2f2;position: absolute;left: 2.25rem;top: 50%;margin-top: -.46875rem;}
.detail-list li .detail-option p{margin-left: 1.8125rem;font-size: .875rem;color: #171717;max-height: 2.3125rem;overflow: hidden;}
.detail-list li .detail-option.on .detail-radio{width:1rem;height:1rem;border:0;background: url(../img/v4_app_2.png) -.25rem 0/1.75rem 3.03125rem no-repeat;}
.detail-list li .detail-option .detail-checkbox{display: block;width: .875rem;height: .875rem;border: 1px solid #d4d4d4;border-radius: 3px;background-color: #f2f2f2;position: absolute;left: 2.25rem;top: 50%;margin-top: -.46875rem;}
.detail-list li .detail-option.on .detail-checkbox{background: url(../img/v4_app_2.png) -.125rem -1.75rem/1.75rem 3.03125rem no-repeat #fff;}
.detail-list li .detail-fill{padding: .6875rem .9rem .6875rem 2.25rem;}
.detail-list li .detail-fill textarea{padding: .5rem;border-color: #f3f3f3;border-radius: 2px;resize: none;}
.detail-list li .detail-option.img{padding: 0;height: 4.9375rem;line-height: 4.9375rem;}
.detail-list li .detail-option.img img{width: 4.375rem;height: 4.375rem;display: block;position: absolute;left: 4.6875rem;top: .25rem;}



