/*工作模块页面css开始*/
.blue{ color: #09a3dc;}
.fr{ float:right}
.fl{ float: left;}
.green{color: #2f801f;}
.fontu{ text-decoration:underline}
.gray{color:#adadad;}
.red{ color: #f35455;}
.black{color:#000;}
td{text-align: center}
.mar-fr15{margin-right:15px;}
.mar-fl15{margin-left:15px;}
.mar-fr65{margin-right:65%;}
.font14{ font-size: 14px;}
.ulbor{ border-right: 1px solid #e5e5e5;}
.topmar70 {  margin-top: 70px;  }
.topmar50 {  margin-top: 50px;  }
.topmar13{  margin-top: 13px; }
.nobor{ border: 0;}
.nomar{ margin-left: 0;}
.content {height: auto !important;  margin: 15px auto 0;  min-height: 200px !important;  min-width: 1270px;  /*overflow: hidden;*/  width: calc(100% - 100px);  }
.contentheader {height: auto !important;   overflow: hidden;  width: calc(100% - 100px);margin:0 auto;  }
/*头部开始*/
header{height:87px; border-bottom: 2px solid #09a3dc;margin-bottom: 15px;}
.logo{/*width:316px;*/height:87px; float: left;}
/*.logo ul{margin-left:30px;} */
.logo ul li{width:auto;height:auto; float: left;margin:22px 12px 0 0;color:#8c8c8c; font-size: 16px;line-height: 22px; font-weight: 700;}
.m-nav{height:87px;float: left;margin-left:16px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.m-nav ul{ position: relative;}
.m-nav ul li{float: left;padding:0 20px; background: url("../img/shu.png") center right no-repeat; line-height: 87px;text-align: left; display: block;}
.m-nav ul li span{ font-size: 24px; font-weight: 700;}
.m-nav ul li a{ color: #8c8c8c;display: block;height:82px;}
.m-nav ul li a:hover{ color: #000; border-bottom: 7px solid #09a3dc;display: block;height:82px;}
.m-nav .delbak{ background: none;}
.checked{ color: #000; border-bottom: 7px solid #09a3dc;display: block;height:82px;}
.m-nav font{height:26px; line-height: 26px; position: absolute;margin-right: 20px;top:54px; font-size: 12px;}
.m-nav font .s-title{margin-right: 20px;height:26px; float: left}
.m-nav font .s-title:hover{color:#09a3dc;border: none;height:26px;}
.m-nav font .s-title-1{margin-right: 20px;height:26px; float: left;color:#09a3dc;}
.m-nav font .s-title-1:hover{border: none;height:26px;color:#09a3dc;}
.userbox{float:right; width: 170px; height: 48px; position: relative; top: 10px; }

.userbox_face{float: left; width: 47px; height: 47px; border:1px solid #cbcdca; border-radius: 50%;padding: 2px; overflow: hidden;}
.userbox_face img{width: 45px; height:45px; border-radius: 21px;border:0px;margin:1px 0 0 1px;}

.userbox_option,.userbox_quit{float: left; margin: 9px 0 0 19px; width: 30px; height: 30px; border: 1px solid #cbcbca; border-radius: 16px;text-align: center; line-height: 30px; cursor: pointer;}
.userbox_option span{color: #cbcbca; font-size:22px!important;padding-top: 2px;}
.userbox_option:hover{border-color: #000;}
.userbox_option:hover span{color: #000;}

.userbox_quit{font-size: 12px; color: #cbcbca;}
.userbox_quit:hover{border-color: #000; color: #000;}

.userinfo{float: right; clear: both; width: 315px; height: 20px; position: relative; text-align: right; font-size: 12px; color: #cbcbca; top: -22px;}
.userinfo span{color: #35c5ea; cursor: pointer;}
.userinfo span:hover{text-decoration: underline;}
/*头部结束*/

/*左侧导航开始*/
.leftNav{float:left; width: 215px; height: 0px; height: auto!important; min-height:0px; overflow:hidden; margin:0;}
.ln_btn{float:left; height: 60px; width: 100%; overflow: hidden; margin: 0; cursor: pointer;}
.ln_btn_end{border-bottom: 1px solid #cbcbca;}
.l_icon{
    float: left; width: 59px; height: 60px; text-align: center; line-height: 70px;
    border-top: 1px solid #cbcbca;border-right: 1px solid #cbcbca;border-bottom: 1px solid #cbcbca;
    background-image: url("../img/png_7.png"); background-repeat: no-repeat;
}
.r_info{
    float: left; width: 150px; height: 59px; margin: 0;background: #f3f3f3; color: #000; text-align: center; line-height: 60px;
    border-top: 1px solid #cbcbca;font-size: 16px;
}


.ln_btn:hover .l_icon{background-color: rgb(176,176,176)!important; width: 64px!important; border-left: 0px!important;}
.ln_btn:hover .r_info{background: rgb(176,176,176)!important; color: #fff!important; }

.l_icon_style0{border-left:5px solid #33abe8;}
.l_icon_style1{border-left:5px solid #3295e8;}
.l_icon_style2{border-left:5px solid #3e76c9;}

.ln_btn_clicked .l_icon{background-color: #33abe8!important; color: #fff!important; width: 64px!important; border-left: 0px!important;}
.ln_btn_clicked .r_info{background-color: #33abe8!important; color: #fff!important; }

.ln_btn_child{float:left; height: 0px; width: 200px; overflow: hidden; margin: 0 0 0 15px; cursor: pointer; overflow: hidden;}
.l_icon_child{
    float: left; width: 39px; height: 40px; text-align: center; line-height: 40px; background-color: rgb(247,247,247);
    border-top: 1px solid #cbcbca;border-right: 1px solid #cbcbca;border-bottom: 1px solid #cbcbca;color: rgb(247,247,247);
}
.r_info_child{
    float: left; width: 155px; height: 39px; margin: 0;background-color: rgb(247,247,247); color: rgb(81,81,81);
    text-align: center; line-height: 39px;
    border-top: 1px solid #cbcbca; font-size: 14px;
}
.ln_btn_child:hover .r_info_child{color: rgb(237,237,237);background-color: rgb(176,176,176);}
.ln_btn_child:hover .l_icon_child{color: rgb(219,219,219);background-color: rgb(176,176,176);}
.ln_btn_child_clicked .r_info_child{background-color: rgb(255,255,255)!important; color: rgb(82,82,82);}
.ln_btn_child_clicked .l_icon_child{background-color: rgb(255,255,255)!important; color: rgb(195,195,195);}
/*左侧导航结束*/

/*右侧内容开始*/
.rightContent{min-width: 1024px;float: left; padding: 0 15px 30px 15px;width:calc(100% - 245px);width:-moz-calc(100% - 245px);width:-webkit-calc(100% - 245px);height:0px; height:auto!important; min-height:200px!important;/*overflow: hidden; */
}
/*footer开始*/
.footer{min-width:1280px;color:#a6a7a9; float: left; width: 100%; height: 70px;text-align: left; line-height: 70px; margin: 10px 0 0 0; text-indent: 160px;background: rgb(15,25,34) url("../img/png_10.png") 90px 20px no-repeat;}
/*footer结束*/
.topmar70 {margin-top: 70px;}

/* common */
.fl {float: left!important;}
.fr {float: right!important;}
.tc{text-align: center;}
.pr{position: relative;}
.pa{position: absolute;}
dt{font-weight: normal;}
.c_blue{color: #09a3dc}
.c_lgreen{color: #78bcaf}
.c_hgreen{color: #2f801f}
.c_green{color: #2f801f;}
.c_red{color: #ff6464;}
.c_gray{color:#8e8e8e}
.clearfix{zoom:1;}
.clearfix:after{height:0; visibility:hidden; content:"\0020"; display:block; clear:both;}
.mr10{margin-right: 10px}
.mr20{margin-right: 20px}
.mt10{margin-top: 10px}
.mt20{margin-top: 20px}
.mr15{margin-right: 15px}
.ml20{margin-left: 20px;}
.ml10{margin-left: 10px;}
input[type="text"] {  border: 1px solid #aaa;  color: #c7c7c7;  float: left;  height: 23px;  line-height: 23px;  margin: 0 10px;  padding: 0 5px;  }
label{font-weight: normal!important;}
.m-title {height: 40px;}
.m-title h3 {float: left;font-size: 16px;color: #09a3dc;}
.m-title h3 i {width: 24px;height: 24px;margin-right: 10px;text-align: center;line-height: 24px;color: #fff;border-radius: 50%;background-color: #09a3dc;font-size: 14px;}
.bottompageBox_mar {margin: 0 0 0 10px;}
.pageBox{float: right; width: 210px; height: 24px; overflow: hidden; padding: 8px 0 0 0;}
.pageBox li{ float: left; list-style: none; height: 24px; text-align: center;  font-size: 14px; line-height: 24px; overflow: hidden;}
.sum{width: 64px;line-height: 24px;}
.sum span{color:rgb(23,197,229);padding: 0 5px;}
.pageCut{width: 60px;line-height: 30px;}
.pageCut span{color: rgb(23,197,229);padding: 0 5px;}
.turnLeft,.turnRight{margin: 0 0 0 10px; cursor:pointer;width: 22px; height: 22px!important; line-height: 22px!important;border: 1px solid rgb(201,201,201); border-radius:12px; background: rgb(255,255,255);}
.turnLeft span,.turnRight span{color: rgb(23,197,229);}
.turnLeft:hover,.turnRight:hover{background: rgb(23,197,229);}
.turnLeft:hover span,.turnRight:hover span{color: rgb(255,255,255);}
.bottompageBox{position: relative; top:-10px; right:65px;}
.filterBox{ width: 100%;/*margin: 0 2%;*/ border-bottom: 1px solid rgb(201,201,201); height: 40px;}
.filterBox li{float: left; font-size: 12px; height: 40px; line-height: 40px; list-style: none;margin: 0 20px 0 0; overflow: hidden; padding: 0 0 0 5px;}
.filterBox li input{}
.filterBox li label{font-size: 12px; padding-left:5px;}
.otherInfo{float: left; width: 200px; text-align: left;font-size: 14px; line-height: 40px!important;}
.otherInfo span{color:rgb(48,129,34)!important; font-size: 12px;padding: 0 5px;}
.contentInfoBox{float: left; width: 100%; height: 0px; height: auto!important; min-height: 0px; overflow: hidden;margin: 15px 0 0 0;}
.resultContent2{display: table;width:100%;padding:10px;}
.resultContent3{display: table;width:100%;padding:10px 0;}
.m-box{ border: solid 1px #e5e5e5; padding: 10px; margin-bottom: 10px;}
.m-box .filterBox{ border: none;}
.m-box .cols1{ width: 20%; float: left; text-align: center;line-height: 40px;}
.m-box .cols2{ width: 25%; float: left; text-align: center;line-height: 40px;}
.m-box .cols3{ width: 55%; float: left; text-align: center;line-height: 40px;}
.tChip3 .cols3{ text-align: left;}
.f-tac{ text-align: center;}
.filterBox .tab_right {float: right;}
.p44_table_4 {border-top: 1px solid #000;}
.p44_table_4 tr{border-bottom: 1px solid #e5e5e5;height: 40px;line-height: 40px;}
.tab_back {background: #ededed;}
.titlefr{width:590px;float: right;height:40px;}
.searchBox{float: right; width:200px; height:22px; border: 1px solid rgb(201,201,201); background: rgb(248,248,248);margin: 8px 0 0 10px; border-radius:3px;}
.searchInput{float: left; border: 0px; /*width: 224px;*/ height: 22px; padding: 0 5px; background: none;}
.searchBox input[type="text"] {  border: none;  color: #c7c7c7;  float: none;  height: auto;  line-height: auto;  margin: 0;  padding:0 5px;  }
.searchBtn{float: right; width: 16px; height: 16px; margin: 2px 4px 0 0; cursor: pointer; line-height: 16px;}
.searchBtn span{color:rgb(201,201,201); font-size: 12px;}
.searchBtn span:hover{color: rgb(49,193,232);}
.title {border-left: 6px solid rgb(52, 116, 177);height: 22px;line-height: 22px;margin: 20px 0 0 26px;/* overflow: hidden; */text-lign: left;text-indent: 1em;width: 97%;font-size: 16px;position: relative;z-index: 10;}
.popBoxty{position:relative; width: 835px; height:auto;  background-color:#09a3dc;margin:0 auto; color:#000000; padding:3px;display: table;}
.popBoxty_title{width:821px; height:37px; line-height: 37px; color: #fff; font-size: 16px;padding-left:20px;margin-top:-3px;}
.contentBoxty{ width: 841px;  height:auto;    background-color: rgb(255,255,255);display: table}
.closeBtn{position: absolute; width: 25px; height: 25px; overflow: hidden;text-align: center; line-height: 25px; background-color: rgb(213,88,66); color: rgb(255,255,255);top: 5px; right: 5px; cursor: pointer;}
.minBtn{position: absolute; width: 25px; height: 25px; overflow: hidden;text-align: center; line-height: 25px; background-color: rgb(29,128,183); color: rgb(255,255,255);top: 0px; right: 26px; cursor: pointer; display: none;}
.mywork-result-list-head span.headspan{  background: url("../img/icon48.png") -5px -230px no-repeat;  font-size: 14px; color: #1b1b1b;  padding-left: 20px;}
.projecttest .tabelouter span.headspan{  margin-bottom: 20px;display: block;}
.table46pop{border-bottom: 1px solid #e5e5e5;  border-right: 1px solid #e5e5e5;  }
.table46pop td{border-left: 1px solid #e5e5e5;  border-top: 1px solid #e5e5e5;  line-height: 40px;  position: relative; }
.table46pop .title46{width:153px; float: left; margin-left: 20px; text-align: left;}
.table46pop .addfile a{width:75px;height:25px; color: #fff; text-align: center; background: #8f8f8f;display: block; line-height: 25px;margin-top:7px;}
.table46pop .title46 span{ float: right}
.table46pop .ballbor{width:23px;height:23px; background: #fff; border:1px #d4d4d4 solid; border-radius:50%;display: block;color: #48c8e9; font-size: 14px; line-height: 23px; text-align: center;margin:7px 0 0 0;}
.table46pop .ballbor:hover{background: #33c4e8; color: #fff;}
.table46pop .l22{ line-height: 22px;}
.table46pop .mc_redu_1{background-image: url("../img/png_8.png");  background-repeat: no-repeat; float: left;  height: 20px;  line-height: 20px;  padding: 0 0 0 20px;  text-align: left;  text-indent: 2px;  width: auto;background-position:-25px -1px;margin:10px 0 0 10px; font-size: 12px}
.table46pop .mc_redu_2{background-image: url("../img/png_8.png");  background-repeat: no-repeat; float: left;  height: 20px;  line-height: 20px;  padding: 0 0 0 20px;  text-align: left;  text-indent: 2px;  width: auto;background-position:-25px -27px;margin:10px 0 0 10px; font-size: 12px}
.table46pop .mc_icon_1{width:21px;height:16px; background: url("../img/sx.png"); float: left;margin:0 5px 0 7px; cursor: pointer;}
.table46pop .mc_icon_2{width:21px;height:20px;background-image: url("../img/png_8.png");background-position:-25px -27px;float: left;margin:-2px 0 0 0;cursor: pointer; }
.table46pop .mc_icon_3{width:14px;height:14px; background: url("../img/close.png"); float: left;margin:0 4px 0 5px;cursor: pointer;}
.table46pop .mc_box46{width:440px;float: left;padding-left:10px; text-align: left;}
.table46pop .btn{}
.table46pop .menusel{padding:4px 12px;margin-right:-6px;margin-top:-2px;width:28px;height:28px;border-radius: 0;}
.table46pop .btn-group{margin:-2px 0 0 10px;}
.table46pop .btn-group .btn{ border-radius: 0; border: 1px #aaa solid;height:28px;line-height: 28px;padding-top:0; text-align: left}
.table46pop .gongneng a{width:48px;height:25px; color: #fff; text-align: center; background: #8f8f8f;display: block; line-height: 25px;margin-top:7px; float:right;margin:7px 5px;}
.table46pop textarea {  margin: 4px auto;  width: 96%; height:45px; border-radius: 0;}
.table46pop .tdinput1 {background: #fff none repeat scroll 0 0;  border: 1px solid #aaa;  border-radius: 0;  height: 28px;line-height: 28px;text-align: left;width: 78%;margin-left:3px; color: #1b1b1b;}
.table46pop .l60{line-height: 60px;}
.table46pop .width60{width:60%;}
.table46pop .width90{width:88%;}
.table46pop .width99{width:93%;}
.table46pop label{float: left;  margin: 0 5px 0 7px;}
.table46pop input[type="radio"]{margin: 13px 0 0 -25px;}
/* 评论 */
.projec-comment .mywork-result-list-head{background-color: #f7f8f8;border: none;padding-left:10px;padding-right:10px;line-height: 45px;height: 45px}
.projec-comment .icomment.b_blue{background-color: #35c5ea}
.mywork-result-comment .bottompageBox{top: -10px;right: 0px}
.mywork-result-comment .icomment{display: block;float: right;width: 75px;height: 25px;line-height: 25px;text-decoration: none;background: #8f8f8f;color:#fff;text-align: center;}
.mywork-result-comment .icomment:hover{background-color: #818181;text-decoration: none;}
.mywork-result-comment .icomment:active{background: #09a3dc;}
.mywork-result-comment-main { position: relative; padding-left: 70px;}
.mywork-result-comment-main ul{padding-top: 20px;}
.mywork-result-comment-main ul li{margin-bottom: 20px;padding-bottom:20px;border-bottom: 1px solid #dddddd}
.mywork-result-comment-main .pre_25{width: 25%}
.mywork-result-comment-main .pre_75{width: 75%}
.mywork-result-comment-main .comment_reply{  background: url("../img/48comment_reply.png") no-repeat;  height: 89px;  padding-top: 30px; padding-left: 10px;}
.mywork-result-comment-main .comment_agree a{display: block;height: 33px;line-height:33px;width: 70px;background: url("../img/icon48.png") -79px -527px no-repeat;float: left;padding-left: 30px}
.mywork-result-comment-main .comment_agree a:hover{text-decoration: none;}
.mywork-result-comment-main .comment_agree a.icon_replay{background: url("../img/icon48.png") -76px -571px no-repeat;}
.mywork-result-comment-main .comment_agree .like.clicked{background-position: -79px -626px;}
.mywork-result-comment-main .comment_agree .icon_replay.clicked{background-position: -77px -671px;}
.mywork-result-comment-main ul li .icon_focus{padding-right: 20px;border-right: 1px solid #ddd}
.mywork-result-comment-main .floor{position: absolute;top: 0px;right: 10px;font-weight: 700;font-size: 16px;}


/* v3.0 27 */
.mt40{margin-top: 40px;}
table .tl{text-align: left;text-indent: 10px;}
.columnConfig{border: 1px solid #e5e5e5;}

.columnConfig .nav-tabs li a{border: none;border-right:1px solid #e5e5e5;}
.columnConfig .nav-tabs li a:hover{border: none;border-right:1px solid #e5e5e5;}
.columnConfig .nav-tabs .tab_right{float: right;line-height: 40px;margin-right: 10px;}
.table_1,.table_2{ width: 95%;margin: 20px auto;}
.table_1 th{height: 40px;font-size: 16px;text-align: center;}
.table_1 td {border: 1px solid #e5e5e5;height: 40px;position: relative;}
.table_1 .p27_table_1_input{width: 100%;text-indent: 15px;margin: 0;padding: 0;border: 1px solid #aaa;color: #c7c7c7;float: left;height: 23px;line-height: 23px;}
.table_1 .col_master_del{cursor: pointer;}
.table_1 .t_close{background-color: #747474;color: #fff;border-radius: 3px;font-size: 14px;font-weight: 200;padding: 5px;cursor: pointer;}
.table_1 .t_del,.table_2 .t_del{display:inline-block;height: 14px;width: 12px;background: url(../img/v3_27.png) 0 0 no-repeat;margin-left: 5px;cursor: pointer;}
.table_1 .col_master_add,.pop32_add{display: block;width: 12px;height: 12px;background: url(../img/v3_27.png) 0 -36px no-repeat;float: right;margin-right: 10px;margin-top: 3px;cursor: pointer;}
.table_1 .col_name,.add_tab .col_name,.add_icon .col_name{display: inline-block;width: 21px;height: 21px;background: url(../img/v3_27.png) 0 bottom no-repeat;cursor: pointer;}
.table_1 .down,.table_1 .up{display: block; height: 24px;width: 24px;position: absolute;border:1px solid #e8e8e8;border-radius: 50%;background: url(../img/v3_27.png) 6px -73px no-repeat;left: 50%;margin-left: -12px;top: 50%;margin-top: 15px;cursor: pointer;}
.table_1 .up{background-position: 6px -52px;margin-top: -45px;}
.table_1 .sp .down{margin-top: -12px;margin-left: 9px;}
.table_1 .sp .up{margin-top: -12px;margin-left: -35px;}
.filterBox .tab_right{float: right;}

/* v3.0 29 */
.fl{float: left!important;}
.p29_tab_right{float: right;line-height: 40px;margin-right: 10px;}
.table_2 tr {border-bottom: 1px solid #e5e5e5;height: 40px;line-height: 40px;}
.table_2 tr th {font-size: 16px;text-align: center;}
.table_2 tr td {font-size: 14px;line-height: 20px;padding: 5px 0;}
.table_2 .tl{text-indent: 0px;}
.table_2 .detail{display:inline-block;color: #747474;border: 1px solid #aaa;border-radius: 3px;padding: 5px;margin-top: 3px;cursor: pointer;}
.table_2 tr:last-child{border-bottom: none;}
.create_grorp,.add_content{width: 70px;height: 25px;color: #fff;text-align: center;line-height: 25px;background-color: #f35455;float: left;cursor: pointer;}
.columnConfig .filterBox{width: 95%;margin: 0 auto;}
.table_2 .table_2_op{border:1px solid #747474;border-radius: 3px;color: #747474;margin: 0 3px;padding: 3px 5px;}
.nav-tabs .add_tab{height: 40px;width: 60px;line-height: 47px;text-align: center;}
.table_2 .t_edit,.table_2 .t_del{display: inline-block;width: 19px;height: 18px;background: url(../img/v3_31.png) 0 bottom no-repeat;cursor: pointer;}
.table_2 .t_del{background-position: -1px 0;}

/* v3.0 31 */
.tab-content.v3_31pop{padding: 10px;}
.pop31_bar{margin-top: 10px;position: relative;}
.pop31_bar_left{float: left;}
.pop31_bar_right{float: right;}
.tab-content .pop31_input{float: none;margin: 0;width: 703px;}
.pop31_bar_input{margin-left: 105px;}
.pop31_knowlist{width: 703px;height: 68px;border:1px solid #aaa;padding: 5px;overflow: auto;}
.pop31_bar_left .pop31_radio{margin-left: 20px;}
.pop31_addknow{width: 703px;height: 450px;border:1px solid #aaa;padding: 5px;overflow: auto;}
.pop31_confirm{width: 50px;height: 25px;color: #fff;background-color: #f35455;line-height: 25px;text-align: center;cursor: pointer;float: left;border-radius: 3px;}
.pop31_bar .check_all,.pop31_bar .clear{width: 50px;height: 25px;background-color: #747474;color: #fff;font-size: 14px;line-height: 25px;text-align: center;position: absolute;bottom: 0;left: 20px;}
.pop31_bar .check_all{bottom: 40px;}


/* v3.0 32 */
.title.p32{margin-left: 0px;}
.add_content{width: 100px;}
.m-title.p32{border-bottom:1px solid #bdbdbd;}
.width60,.width80{width: 60px;text-align: center;color: #000!important;float: none!important;font-family: arial;}
.table_2 textarea{width: 100%;padding: 3px;}
.add_icon{height: 40px;width: 60px;line-height: 47px;text-align: center;}
.p32_bottom_left,.p32_bottom_right{float: left;width: 50%;}
.p32_bottom_table{width: 90%;border:1px solid #e5e5e5;margin-top: 20px;}
.table_2 .width200{width: 200px;text-align: left;color: #000;float: none;font-family: arial;}
.p32_bottom_right{float: right;}
.p32_bottom_right .p32_bottom_table,.p32_bottom_right .title{margin-left: 10%;}
.pop32_bar_area{margin-left: 75px;}
.pop32_bar_area textarea{width: 100%;}
.width80{width: 80px;text-align: left;}

/* v3.0 32_2 */
.right_btn{float: right;margin: 10px 40px 10px 0;width: 100px;height: 25px;background-color: #737373;color: #fff;border-radius: 3px;text-align: center;line-height: 25px;}
.p32_2_input{width: 200px!important;float: none!important;padding: 0px!important;}
.p32_2_select{width: 205px;margin: 0 5px;}
.red_btn{background-color: #f35455;padding: 3px 9px;color: #fff;cursor: pointer;}
.p32_red_btn{position: absolute;background-color: #f35455;padding: 8px 15px;color: #fff;cursor: pointer;font-size: 18px;border-radius: 3px;right: 0px;top: -10px;text-indent:0;}
.pop32_2_bar_input{margin-left: 75px;}
.tab-content .pop32_2_option_input,.pop32_2_bar_input .pop32_3_input {float: none;margin: 0;width: 710px;color: #000;}
.pop32_2_select{width: 745px;}
.pop32_2_select2{width: 140px;}
.add_icon.pop32{margin-left: -18px}
.width80.pop32{width: 100px!important;}
.pop32_2_bar_input .pop32_3_input{width: 735px;}
.upload_file{background-color: #747474;padding: 3px 5px;border-radius: 3px;color: #fff;}
.tab-content h3{text-align: center;color: #1b1b1b;font-size: 16px;font-weight: 200;margin-top: 10px;}

/*33*/
.projecttest h2{font-size: 18px;margin-bottom: 10px}
.projecttest h1{font-size: 24px;margin-bottom: 10px}
.projecttest .bs-docs-grid{  margin-left: 20px; margin-right: 20px;}
.projecttest .bs-docs-grid *{box-sizing:border-box;}
.projecttest.content{min-height: 0 !important;}
.projecttest .projectuplaod {width: 850px;height: 500px;border:1px solid #333;margin:0 auto;line-height: 500px}
.projecttest table tr td{text-align: left;}
.projecttest .tabelouter{width: 940px;margin:20px auto;}
.projecttest .tabelouter input.score{float: none;margin-right: 0}
.projec-comment .mywork-result-list-head{background-color: #f7f8f8;border: none;padding-left:10px;padding-right:10px;line-height: 45px;height: 45px}
.projec-comment .icomment.b_blue{background-color: #35c5ea}
.projecttest.b_lgray{background-color: #f7f8f8}
.projecttest.b_dgray{background-color: #e6e6e6}
.projecttest .b_blue{background-color: #35c5ea}
.projecttest .c_blue{color: #35c5ea}
.projecttest .projecttest .c_green{color:#2f801f;}
.projecttest .c_red{color:#f35455;}
.projecttest .c_black{color:#000;}
.pr{position: relative;}
.pa{position: absolute;}
.left{left: 0px}
.right{right: 0px}
.tr{text-align: right;}
.marginauto{margin: 0 auto}
.mb25{margin-bottom: 25px}
.mb20{margin-bottom: 20px}
.pt20 {padding-top: 20px}
.pb20{padding-bottom: 20px}
p.lh30{line-height: 30px}
input[type=radio].mr5{margin-right: 5px}
.width100{width: 100%}
.pl10{padding-left: 10px}
.pr10{padding-right: 10px}

/*36*/
.projecttest .tabelouter span.c_blue.borbot{font-size:16px;padding-bottom: 15px;  border-bottom: 1px solid #000;  display: block; margin-bottom: 20px;}
.projecttest .tabelouter.mywork-result-list-head{border-bottom: none}
.projecttest .tabelouter span.headspan{  margin-bottom: 20px;display: block;}
.pl45{padding-left: 45px}
.pl10{padding-left: 10px}
.mywork-result-list-head .btn-info{background-color: #fff;color: #5bc0de;}

/*40*/
.knowledgecount .f17{font-size: 17px}
.pl5{padding-left: 5px}
.mt40{margin-top: 40px}
.knowledgeone{height: 350px}
.knowledgeone .arrowleft,.knowledgeone .arrowright{display: block;background: #f7f7f7;color: #999;width: 10px;height: 20px;line-height: 20px;top:90px;}
.knowledgeone .knowoneleft,.knowledgeone .knowledgeone{width: 500px}
.knowledgeone .knowoneleft .bar-color i,.knowledgeone .knowoneright .bar-color i{  width: 10px;  height: 10px;display: inline-block;  vertical-align: middle;  margin: 0 8px;}
#canvas9{
    -webkit-transform-origin:bottom left; -webkit-transform:rotate(90deg);
    -moz-transform-origin:bottom left; -moz-transform:rotate(90deg);
    -o-transform-origin:bottom left; -o-transform:rotate(90deg);
    -ms-transform-origin:bottom left; -ms-transform:rotate(90deg);
    transform-origin:bottom left; transform:rotate(90deg);
    position: relative; top: -285px; left: -20px
}
.knowledgeone .knowoneleft #canvas9{top: -310px}
.left40{left: 40px}
.right20{right: 20px}

.pt10{padding-top: 10px}
.p10{padding: 10px}
.knowledgetwo{border:1px solid #cbcbca;}
.knowledgetwo.mywork-result-comment .mywork-result-list-head{border-bottom:1px solid #cbcbca;padding-left: 0px}
.knowledgetwo ul li {float: left;display:block;border-right: 1px solid #cbcbca;width: 100px;height: 45px;line-height: 45px;text-align: center;}
.knowledgetwo ul li.on{background: #fff;border-bottom: 1px solid #fff}
.knowledgetwo .twotitle label{padding: 10px}

.p40_slide{width: 100%;height: 380px;position: relative;overflow: hidden;}
.p40_slide .slide-img {position: absolute;top: 0;left: 0;height: 380px;}
.p40_slide .slide-img li{float: left;height: 380px;}
.p40_slide .slide-num{display: none;}
.p40_slide .arrowleft,.p40_slide .arrowright{display: block;background: #f7f7f7;color: #999;width: 10px;height: 40px;line-height: 40px;top:90px;}
.top10{top:10px;}

/*40pop1*/
.title46.40pop{width: 200px}
.labelp8{padding: 8px}
.table46pop.pop40 label{ margin: 0 42px 0 0px}
.table46pop.pop40 label input{margin:0px;}


